@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  background-color: #23252c;
  color: #f5f5f5;
  font-family: "Inter", sans-serif;
}

.main-card {
  background-color: #1b1b20;
  width: 300px;
  margin: 3rem auto;
  border-radius: 6px;
}

.main-card .btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contentTexts {
  margin: 40px 25px;
}
